@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body{

    margin:0;
    font-family: Poppins;
}

.header{
    padding: 9px;
    background-color: #141514;
  

    
}
.header img{
    height: 50px;

 
}
.container{
    text-decoration: none;      
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    
    
}

.container ul {

    display: flex;
    width: 800px;
    justify-content: space-evenly;
    list-style: none;
}


 .canto{
    width: 200px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
       
       
    }
   


.header .container{
    
    justify-content: space-around;
    align-items: center;
}

ul a{
        text-decoration: none;
        color: #FFF;
        
 
    }


a:hover {
    color: #FF9E01;
}
a{
   
    list-style: none;
    text-decoration: none;
    color: #FFF;
  
    
}



    /* ESTILIZANDO O GRAFICO */

    .graficos{
        display: flex;
        justify-content: center;
        padding: 20px;
       
      

 

    }
   
    
    .grafico1{
        height: 100%;
        text-align: center;
    
        padding: 40px;
    }
    .grafico2{
        height: 100%;
        padding: 40px;
        text-align: center;
    }

    /* ESTILIZANDO OS CARDS*/

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
 
}

.vagas-disponiveis {
 background-color: #212124;
 color: #fff;
 box-shadow: 1px 1px 0.2em #888;
 
}

.vagas-ocupadas{
    background-color: #FF4000;
    color: #fff;
    box-shadow: 1px 1px 0.2em #888;
  
}

.horario-pico {
    background-color: #212124;
    color: #fff;
    box-shadow: 1px 1px 0.2em #888;
}

.menor-fluxo {
    background-color: #FF4000;
    color: #fff;
    box-shadow: 1px 1px 0.2em #888;
}


.item-regua {
  padding: 5px;
  width: 25%;
  margin: 25px;
  text-align: center;
  padding-top: 15px;


}
.item-regua2 {
    padding: 5px;
    width: 30%;
    margin: 25px;
    text-align: center;
    padding-top: 15px;
  
  
  }

.cards {
    margin-top: -100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    width: 100%;
    align-items: center;
    color: white;
  }
  
  .card {
    margin: 2%;
    width: 42%;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    height: 180px;
    justify-content: right;
    background-color: #212124;
    font-size: 20px;
    box-shadow: 1px 1px 0.3em #888;
  }
  
  .card p {
    margin: 20px;
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
  }
  
  .cards h1 {
    font-size: 22px;
    width: 100%;
    border-bottom: solid #FF4000 1px;
    text-align: left;
    font-weight: lighter;
    margin: 20px;
  }
  


        

/* #f8fafa */