/* ESTILIZANDO A PÁGINA*/
body {
    background-image: url("../assets/imgs/bgSimulador.png");
    opacity: 0.9;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.h4_simulador {
    color: #FF9E01;
    margin-top: 10px;
}

.ipt {
    height: 26px;
    width: 400px;
    border: 1px solid #FF4000;
    border-radius: 4px;
    text-align: center;
}

.h1_simulador {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 25px;
}

.banner_simulador .container {
    height: 580px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_simulador {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 560px;
    height: 550px;
    border: 2px solid #FF4000;
    border-radius: 15px;
    margin-top: 10px;
}

/* .banner_simulador {
    background-image: url("../images/bgSimulador.png");
    opacity: 0.9;
    height: 580px;
    background-size: cover;
} */

.span_simulador {
    margin-top: 10px;
    color: #FF9E01;
}

.card_simulador span {
    font-size: 14px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    margin-top: 10px;
    border: 0;
    font-weight: 600;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    padding: 10px 15px;
    background-color: #FF4000;
    cursor: pointer;
    height: 40px;
    width: 140px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: white 1px 1px 4px;
}

/* FORMATAÇÃO DA TELA DE RESULTADO*/
.banner_result .container {
    height: 590px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FF9E01;
}

.card_result {
    background-color: black;
    border: #FF4000 2px solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 580px;
    height: 400px;
    border-radius: 15px;
    margin-top: 20px;
}

.card_result h4 {
    color: #FFF;
    font-size: large;
}

.card_result b {
    color: #FFF;
}

.banner_result {
    background-image: url("../assets/imgs/bgSimulador.png");
    opacity: 0.9;
    height: 580px;
    background-size: cover;
}

.btn_result {
    font-family: Poppins;
    margin-top: 10px;
    border: 0;
    font-weight: 600;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    padding: 10px 15px;
    background-color: #FF4000;
    cursor: pointer;
    height: 50px;
    width: 150px;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: white 1px 1px 4px;
}

.simulador {
    color: white;
}

.simulador .container {
    flex-direction: column
}