/* Estilização do conteudo do sobre nós */
.conteudo {
    height: 400px;
    display: flex;
}

.conteudo .lado_esquerdo {
    padding: 80px 50px;
}

.conteudo .lado_esquerdo .titulo {
    color: #FF4000;
    font-size: 45px;
    text-align: center;
    margin-top: -10px;
}

.conteudo .lado_esquerdo .subtitulo {
    margin-top: -15px;
    font-size: 20px;
    text-align: center;
}

.conteudo .lado_direito {
    padding: 80px 50px;
}

.membros {
    display: flex;
}

.membros .membro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.membros img {
    width: 100px;
    border-radius: 100%;
}

.button {
    font-family: Poppins;
    margin-top: 10px;
    border: 0;
    font-weight: 600;
    border-radius: 7px;
    font-size: 18px;
    color: #fff;
    padding: 10px 10px;
    background-color: #FF4000;
    width: 30%;
    margin-left: 34%;
    cursor: pointer;
    box-shadow: black 1px 1px 5px;
}

.nome {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 17px;
    color: #029B99;
    font-weight: 600;
}

.lado_esquerdo img {
    padding: 0;
    height: 100px;
    margin-left: 223px;
}

a {
    text-decoration: none;
    color: #FFF;
}