 /* ESTILIZANDO A PÁGINA DE CADASTRO*/
 .h4_cadastro{
   color:#FF9E01;
}
.ipt {
   height: 30px;
   width: 400px;
   border: 1px solid #FF4000;
   border-radius: 4px;
 }

 .tipo_campo{
   color: #FF9E01;
 }
.h1_cadastro{
  text-align: center;
}
.banner_cadastro .container{
  height: 590px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.banner .container .card {
  background-color: black;
  border: #FF4000 2px solid;
  height: fit-content;
  width: 600px;
  display: flex;
  flex-direction: column;
  color: #FF4000;
  align-items: center;
  border-radius: 4px;
  justify-content: center;

}


.banner_cadastro {
  background-image: url("../images/bgSimulador.png");
  opacity: 0.9;
  height: 600px;
  background-size: cover;     
}

.span_cadastro{
  margin-top: 10px;
  color: #FF9E01;
}
.card_cadastro span{
  font-size: 14px;
}


#btn{
  display: flex;
  align-items: center;
   font-family: Poppins;
   margin-top: 10px;
   border: 0;
   font-weight: 600;
   border-radius: 10px;
   font-size: 18px;
   color: #fff;
   padding: 10px 15px 10px 15px;
   background-color:#FF4000;
   cursor: pointer;
   height: 40px;
   width: 130px;
   margin-top: 20px;
   margin-bottom: 25px;
   text-align: center;
  }

  .btn {
    width: 200px;
    margin: 20px;
    margin-left: 135px;
  }

.loading-div {
   width: 50px;
   margin: auto;
   display: none;
 }
 
 .loading-div img {
   height: 50px;
   width: 50px;
 }

 .alerta_erro{
   display: flex;
   justify-content: flex-end;
 }
 
 .card_erro {
   display: none;
   background-color: #fff;
   color: black;
   width: 230px;
   position: fixed;
   border-radius: 4px;
   border: #FF4000 3px solid;
   padding: 10px;
   margin-right: 10%;
 }
 
 .card_erro #mensagem_erro{
   font-weight: 500;
   font-size: 20px;
 }

 .tudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;

}

.formulario .primeiro {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
  
}

.formulario .segundo {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
  margin-left: 50px;
}