@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body{
    margin:0;
    font-family: Poppins;
}

.header{
    padding: 9px;
    background-color: #141514;

    
}
.header img{
    height: 50px;
}
.container{
    color:#FF4000;
    display: flex;
    justify-content: space-between;
    

    
}
.container ul {
   
    color:#fff;
    display: flex;
    width: 800px;
    justify-content: space-evenly;
    list-style: none;
}

.header .container{
    
 justify-content: space-around;
 align-items: center;
}
ul a{
        text-decoration: none;
        color: #FFF;
    }


a:hover {
  color: #FF9E01;
}
a{
    text-decoration: none;
    color: #FFF;
    
}
.container .login{
  
    padding: 5px 10px;
    border: 1px solid #FF9E01;
    border-radius: 10%;
    margin-left: 25px;

    }


    /*BANNER*/

    .banner {
        background-image: url("images/a.jpg");
       opacity: 0.9;
        height: 600px;
        background-size: cover;     
        

    }
.banner .container{
    height: 590px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.banner h1{
    color: #FF9E01;
    margin-top: -6%;
    padding: 0;
    font-size: 36px;
   text-align: center;
    
  
}
.banner p{
    color: #fff;
    margin-top: 5px;
    padding: 0;
    font-size: 25px;
   text-align: center;
   font-weight: 100;
 
}


.btn{
    font-family: Poppins;
    margin-top: 10px;
    border: 0;
    font-weight: 600;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    padding: 10px 15px;
    background-color:#FF4000;
    cursor: pointer;
}


/* Estilização do conteudo do sobre nós */

.conteudo{
    height: 400px;
    display: flex;
}

.conteudo .lado_esquerdo{
    padding: 80px 50px;
}

.conteudo .lado_esquerdo .titulo{
    color: #FF4000;
    font-size: 45px;
    text-align:center;
   margin-top: -10px;
}

.conteudo .lado_esquerdo .subtitulo{
    margin-top: -15px;
    font-size: 20px;
    text-align:center;

}

.conteudo .lado_direito{
    padding: 80px 50px;
  
}

.membros{
    display: flex;
    
  
}

.membros .membro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;

   
}

.membros img{
    width: 100px;
    border-radius: 100%;

}
.button{
    font-family: Poppins;
    margin-top: 10px;
    border: 0;
    font-weight: 600;
    border-radius: 7px;
    font-size: 18px;
    color: #fff;
    padding: 10px 10px;
    background-color:#FF4000;
    width: 30%;
    margin-left: 34%;
    cursor: pointer;
    
}
.nome{
    display: flex;
    text-align:center;
    justify-content: center;
    font-size: 17px;
    color: #029B99;
    font-weight: 600;

}
.lado_esquerdo img{
    padding: 0;
    height: 100px;
    margin-left: 223px; 
 
}


/* ESTILIZANDO A PAGINA DE CONTATO */


.container .card{
    background-color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
   width: 700px;
   height: 700px;
  
}

.container .card h4{
    margin-left: -300px
}
    .ipt {
        height: 30px;
        width: 400px;
        border: 1px solid #FF4000;
        border-radius: 4px;
      }
      .btnContato{
        font-family: Poppins;
        margin-top: 10px;
        border: 0;
        font-weight: 600;
        border-radius: 10px;
        font-size: 18px;
        color: #fff;
        width: 150px;
        padding: 10px 15px;
        background-color:#FF4000;
        cursor: pointer;
    }
     

/* CODIGO DOS ICONES DAS REDES SOCIAIS */
.btn_social { 
	width:100%; 
	float:left; 
	display:flex; 
	margin:auto; 
    margin-left: -20px
}
.btn_social ul  { 
	width:auto; 
	margin:auto; 
	float:left; 
	display:block; 
}
.btn_social ul li  { 
	position:relative; 
	background:#555555; 
	list-style:none; 
	float:left; 
	margin:5px; 
	z-index:1; 
	overflow:hidden; 
	border-radius:3px; 
	font-size:1.5em; 
	text-align:center; 
}
.btn_social ul li a  { 
	width:50px; 
	height:50px; 
	line-height:53px; 
	display:block; 
	text-decoration:none; 
	color:#fff; 
	transition:.4s;
}
.btn_social ul li::before { 
	transition:0.4s; 
	position:absolute; 
	content:''; 
	width:100%; 
	height:100%; 
	top:90%; 
	left:0; 
	background:#FF4000; 
	z-index:-1; 
	transform: scale(1); 
	transition:.4s; 
}
.btn_social ul li:hover::before { transition:0.4s; top:0%; }
.btn_social ul li a:hover       { color:white; }
/* ----------------------------------------------------------------- */

 /* ESTILIZANDO A PÁGINA DE LOGIN */
 .h4_login{
     color:#FF9E01;
}

.h1_login{
    text-align: center;
}
 .banner_login .container{
    height: 590px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.card_login{
    background-color:rgba(0, 0, 0, 0.993);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 570px;
    height: 500px;
    border-radius: 15px;

}

 .banner_login {
    background-image: url("images/estacionamento.jpg");
    opacity: 0.9;
    height: 600px;
    background-size: cover;     
}

.span_login{
    margin-top: 10px;
    color: #FF9E01;
}
.card_login span{
    font-size: 14px;
}
