@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body{

    margin:0;
    font-family: Poppins;
}

.header{
    padding: 9px;
    background-color: #141514;

    
}
.header img{
    height: 50px;

 
}
.container{
    text-decoration: none;      
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    
    
}

.container ul {
    color: #fff;
    display: flex;
    width: 800px;
    justify-content: space-evenly;
    list-style: none;
}
.canto1{
      color: #fff;
       display: flex;
       justify-content: space-evenly;
       list-style: none;

    }

 .canto{
      color: #fff;
       display: flex;
       justify-content: space-evenly;
       list-style: none;
       
    }
 .container .login{
   
  
    padding: 5px 10px;
    border: 1px solid #FF9E01;
    border-radius: 10%;
    margin-left: 25px;

    }

.header .container{
    
    justify-content: space-around;
    align-items: center;
}

ul a{
        text-decoration: none;
        color: #FFF;
        
 
    }


a:hover {
  color: #FF9E01;
}
a{
    color: #FFF;
    text-decoration: none;
  
    
}



    /* ESTILIZANDO O GRAFICO */

    .graficos{
        display: flex;
        justify-content: center;
        padding: 20px;
      

 

    }
   
    
    .grafico1{
        height: 100%;
        text-align: center;
    }
    .grafico2{
        height: 100%;
        text-align: center;
    }

    /* ESTILIZANDO OS CARDS*/

.regua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
 
}

.vagas-disponiveis {
 background-color: #212124;
 color: #fff;
 box-shadow: 1px 1px 0.2em #888;
 
}

.vagas-ocupadas{
    background-color: #FF4000;
    color: #fff;
    box-shadow: 1px 1px 0.2em #888;
}

.horario-pico {
    background-color: #212124;
    color: #fff;
    box-shadow: 1px 1px 0.2em #888;
}

.menor-fluxo {
    background-color: #FF4000;
    color: #fff;
    box-shadow: 1px 1px 0.2em #888;
}


.item-regua {
  padding: 5px;
  width: 15%;
  margin: 25px;
  text-align: center;
  padding-top: 15px;


}


        

/* #f8fafa */