
 @import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

 body{
     margin:0;
     font-family: Poppins;
 }
 
 .header{
     padding: 9px;
     background-color: #141514;
 
     
 }
 .header img{
     height: 50px;
 }
 .container{
     color:#FF4000;
     display: flex;
     justify-content: space-between;
     
 
     
 }
 .container ul {
    
     color:#fff;
     display: flex;
     width: 800px;
     justify-content: space-evenly;
     list-style: none;
 }
 
 .header .container{
     
  justify-content: space-around;
  align-items: center;
 }
 ul a{
         text-decoration: none;
         color: #FFF;
     }
 
 
 a:hover {
   color: #FF9E01;
 }
 a{
     text-decoration: none;
     color: #FFF;
     
 }
 .container .login{
   
     padding: 5px 10px;
     border: 1px solid #FF9E01;
     border-radius: 10%;
     margin-left: 25px;
 
     }
 

 
 
 /* ESTILIZANDO A PÁGINA DE LOGIN */

 .h4_login{
    color:#FF9E01;
}
.ipt {
    height: 30px;
    width: 400px;
    border: 1px solid #FF4000;
    border-radius: 4px;
  }
.h1_login{
   text-align: center;
}
.banner_login .container{
   height: 590px;
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center; 
}

.card_login{

   background-color:rgba(255, 255, 255, 0.877);

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: auto;
   width: 570px;
   height: 500px;
   border-radius: 15px;
}

.banner_login{
   background-image: url("../images/estacionamento.jpg");
   opacity: 0.9;
   height: 600px;
   background-size: cover;     
}

.span_login{
   margin-top: 15px;
}
.card_login span{
   font-size: 14px;
}
.btn{
    font-family: Poppins;
    margin-top: 10px;
    border: 0;
    font-weight: 600;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    padding: 10px 15px;
    background-color:#FF4000;
    cursor: pointer;
   
}
