@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body{
    margin:0;
    font-family: Poppins;
}

.header{
    padding: 9px;
    background-color: #141514;

    
}
.header img{
    height: 50px;
}
.container{
    color:#FF4000;
    display: flex;
    justify-content: space-around;
}
.container ul {
   
    color:#fff;
    display: flex;
    width: 800px;
    justify-content: space-evenly;
    list-style: none;
}

.header .container{
    
 justify-content: space-around;
 align-items: center;
}
ul a{
        text-decoration: none;
        color: #FFF;
    }


a:hover {
  color: #FF9E01;
}
a{
    text-decoration: none;
    color: #FFF;
    
}
.container .login{
  
    padding: 5px 10px;
    border: 1px solid #FF9E01;
    border-radius: 10%;
    margin-left: 25px;

    }

/* ESTILIZANDO A PAGINA DE CONTATO */


.container .card{
    background-color:rgba(255,255, 255, 0.877);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   /* justify-content: center; */
   /* margin: auto; */
   margin-top: 15px;
   width: 400px;
   height: 440px;
   border-radius: 20px;
   padding: 50px;
}

/* .container .card h4{
   margin-left: -300px;
   justify-content: flex-start;
   align-items: flex-start;
} */
 #ipt_msg{
     height: 80px;
     width: 380px;
     border: 1px solid #FF4000;
     border-radius: 4px;
}
   .ipt {
       /* height: 100px; */
       width: 380px;
       border: 1px solid #FF4000;
       border-radius: 4px;
     }
     .btnContato{
       font-family: Poppins;
       margin-top: 10px;
       border: 0;
       font-weight: 600;
       border-radius: 10px;
       font-size: 18px;
       color: #fff;
       width: 150px;
       padding: 10px 15px;
       background-color:#FF4000;
       cursor: pointer;
   }
   .banner_contato{
       background-image: url("../images/bgSimulador.png");
       opacity: 0.9;
       height: 87vh;
       background-size: cover;     
   }
   h4{
       color:#FF9E01;
  }

/* .txt {
   margin-left: 5%;
} */
.txt {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.txt h1 {
   font-size: 50px;
}

.txt h2 {
   color: #fff;
}


