@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body{
    margin:0;
    font-family: Poppins;
}

.header{
    padding: 9px;
    background-color: #141514;

    
}
.header img{
    height: 50px;
}
.container{
    color:#FF4000;
    display: flex;
    justify-content: space-between;
    

    
}
.container ul {
   
    color:#fff;
    display: flex;
    width: 800px;
    justify-content: space-evenly;
    list-style: none;
}

.header .container{
    
 justify-content: space-around;
 align-items: center;
}
ul a{
        text-decoration: none;
        color: #FFF;
    }


a:hover {
  color: #FF9E01;
}
a{
    text-decoration: none;
    color: #FFF;
    
}
.container .login{
  
    padding: 5px 10px;
    border: 1px solid #FF9E01;
    border-radius: 10%;
    margin-left: 25px;

    }


/* SERVIÇOS */


.corpo{
    margin-top: 50px;
    height: 400px;
    display: flex;
    
}
.corpo .esquerda{
    position: absolute;
    margin-right: 50%;
    margin-left: 5%;
}
.corpo .direita{
    position: absolute;
    margin-left: 50%;
    margin-right: 5%;
}
.titulo {
    font-size: 40px; color: #FF4000;
    font-weight: bold;
}
.conteudo {
    font-size: 20px;
    padding: 5px;
    border-radius: 10px; color: black;
    
}
button{
    font-family: Poppins;
    margin-top: 10px;
    border: 0;
    font-weight: 600;
    border-radius: 7px;
    font-size: 18px;
    color: black;
    padding: 10px 10px;
    background-color:#FF4000;
    width: 30%;
    cursor: pointer;
}
.img_estacionamento{
    margin-top: 10px;
    width: 95%;
    border-radius: 30px;
}
.diagrama1 {
    display: flex;
    justify-content: center;
    width: 100vw;
}
.diagrama1 img {
    margin-top: -50px;
    width: 100vh;
}

.footer {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: #FFF;
    background-color: white;
    width: 100vw;
   }

/* SAIBA MAIS */


.corpo_saibamais {
    display: inline-flex;
    justify-content: center;
    margin: 150px;
}
.titulo_saibamais{
    margin-top: -60px;
    font-size: 40px; color: #FF4000;
    font-weight: bold;
}
.texto_saibamais{
    font-size: 20px;
    border-radius: 10px; color: black;
    font-weight: bold;
}
.img_saibamais{
    display: flex;
    justify-content: center;
    height: 700px;
    padding-bottom: 20px;
    margin-top: 20px;
}
     