@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

body{
    margin:0;
    font-family: Poppins;
}

.header{
    padding: 9px;
    background-color: #141514;

    
}
.header img{
    height: 50px;
}
.container{
    color:#FF4000;
    display: flex;
    justify-content: space-between;
    

    
}
.container ul {
   
    color:#fff;
    display: flex;
    width: 800px;
    justify-content: space-evenly;
    list-style: none;
}

.header .container{
    
 justify-content: space-around;
 align-items: center;
}
ul a{
        text-decoration: none;
        color: #FFF;
    }


a:hover {
  color: #FF9E01;
}
a{
    text-decoration: none;
    color: #FFF;
    
}
.container .login{
  
    padding: 5px 10px;
    border: 1px solid #FF9E01;
    border-radius: 10%;
    margin-left: 25px;

    }


    /*BANNER*/

    .banner {
        background-image:url("../images/a.jpg");
        opacity: 0.9;
        height: 590px;
        background-size: cover;     
        

    }
.banner .container{
    height: 590px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.banner h1{
    color: #FF9E01;
    margin-top: -10%;
    padding: 0;
    font-size: 36px;
   text-align: center;
    
  
}
.banner p{
    color: #fff;
    margin-top: 5px;
    padding: 0;
    font-size: 25px;
   text-align: center;
   font-weight: 100;
 
}


.btn{
    font-family: Poppins;
    margin-top: 10px;
    border: 0;
    font-weight: 600;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    padding: 10px 15px;
    background-color:#FF4000;
    cursor: pointer;
   
}

/* ESTILIZANDO A PÁGINA*/

.h4_simulador {
  color: #FF9E01;
}

.ipt {
  height: 30px;
  width: 400px;
  border: 1px solid #FF4000;
  border-radius: 4px;
  text-align: center;
}



/* LOGIN */

.banner .container .card {
  background-color: #e5e5e5;
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: palevioletred;
  align-items: center;
  border-radius: 4px;
}

.card {
  display: flex;
  justify-content: space-around;
}

.card h2 {
  font-size: 30px;
}

.card h4 {
  font-size: 16px;
}

.banner #div_erros_login {
  margin-top: 15px;
}

button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn{
  font-family: Poppins;
  margin-top: 10px;
  border: 0;
  font-weight: 600;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
  padding: 10px 15px;
  background-color:#FF4000;
  cursor: pointer;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}