@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    border:0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 12px;
}
body{
    background-color:#f0eff5;
    font-family: poppins;
    min-height: 100vh;
    color: #27282f;
}
/* ================== ESTILIZANDO A NAVBAR =================== */
nav{
    width: 100%;
    background-color: #000000;
    padding: 1rem 0;

}
 nav .container{
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;
     width: 96%;
     margin: 0 auto;
 }

 nav img.logo{
     width: 7rem;
     margin-left: 5%;

 }

 nav .search-bar{
     background-color: #313133;
     width: 32vw;
     padding: 8px 1.6rem ;
     border-radius: 6px;
     display: flex;
     align-items: center;
     gap: 1rem;
     color: #56555e;
     position: absolute;
     left: 20%;
 }

 nav .search-bar input{
     color: #56555e;
     background: transparent;
     width: 100%;
 }

 nav .comboBox{
  background-color: #313133;
  width: 15vw;
  padding: 8px 1.6rem ;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  position: absolute;
  left: 60%;
}
nav .comboBox select {
   color: #56555e;
  background: transparent;
  width: 100%;
}
nav .adm{
 color: #313133;
  width: 12vw;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 88%;
}
nav .adm .nome{
  color: #f0eff5;
  left: 80%;
  font-size: 14px;
  font-weight: 600;
}

 /* ========================== FIM  DO NAVBAR ============================  */


 /* =================== COMEÇANDO A ESTILIZAR O ASIDE MENU ========================  */

 main{
     display: grid;
     grid-template-columns:16rem auto 30rem ;
     gap: 2rem ;
     width: 100%;
     margin: 1rem auto 4rem;
 }

 main aside{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 88vh;
 }

 .sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #000000;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
    
  }
  .sidebar.open{
    width: 250px;
  }
  .sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .sidebar .logo-details .icon{
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar .logo-details .logo_name{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details .icon, .sidebar.open .logo-details .logo_name{
    opacity: 1;
  }
  .sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details #btn{
    text-align: right;
  }
  .sidebar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  .sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
  }
  .sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  .sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar.open li .tooltip{
    display: none;
  }
  .sidebar input{
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #000000;
  }
  .sidebar.open input{
    padding: 0 20px 0 50px;
    width: 100%;
  }
  .sidebar .bx-search{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #000000;
    color: #FF4000;
  }
  .sidebar.open .bx-search:hover{
    background: #000000;
    color: #FFF;
  }
  .sidebar .bx-search:hover{
    background: #FFF;
    color: #000000;
  }
  .sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #000000;
  }
  .sidebar li a:hover{
    background: #FF4000;
  }
  .sidebar li a .links_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }
  .sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
  }
  .sidebar li a:hover .links_name,
  .sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #000000;
  }
  .sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
  }
  .sidebar li.profile{
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #000000;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  .sidebar.open li.profile{
    width: 250px;
  }
  .sidebar li .profile-details{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .sidebar li img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
  }
  .sidebar li.profile .name, .sidebar li.profile .job{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
  }
  .sidebar li.profile .job{
    font-size: 12px;
  }
  .sidebar .profile #log_out{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #000000;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
  }
  .sidebar.open .profile #log_out{
    width: 50px;
    background: none;
  }
  .home-section{
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
  }
  .sidebar.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
  }
  .home-section .text{
    display: inline-block;
    color: #000000;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
  }
  @media (max-width: 420px) {
    .sidebar li .tooltip{
      display: none;
    }
  }
  
   /* ===================================  FIM DO ASIDE MENU ===========================================  */

    /* ================================== ESTILIZANDO O GRAFICO ======================================== */
    .conteudos{
      height: 10%;
      width: 50%;
      display: flex;
      margin-left: 10%;
      margin-top: 10%;
  }
  .titulo{
      display: inline;
      font-size: 18px;
      color: #ff4000;
      font-weight: bolder;
      
  }

  .text_titulo {
      color: #000000;
      font-size: 15px;
      font-weight: normal;
  }
  .alertas {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin-top: -90px;
      margin-left: -25%;
     
    }
    .alertas2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      margin-top: -10px;
      margin-left: -25%;
     
    }
    
    .card-alerta1 {
     background-color: #000000;
     color: #fff;
     box-shadow: 1px 1px 0.2em #888;
     border-radius: 10px;
     
    }
    
    .card-alerta2{
        background-color: #000000;
        color: #fff;
        box-shadow: 1px 1px 0.2em #888;
        border-radius: 10px;
      
    }
    
    .card-alerta3 {
        background-color: #000000;
        color: #fff;
        box-shadow: 1px 1px 0.2em #888;
        border-radius: 10px;
    }
    
    .card-alerta3 {
        background-color: #000000;
        color: #fff;
        box-shadow: 1px 1px 0.2em #888;
        border-radius: 10px;
    }
    
    
    .item-alerta{
      padding: 40px;
      width: 30%;
      margin: 15px;
      text-align: center;
      padding-top: 40px;
    
    
    }
    .item-alerta2 {
        padding: 40px;
        width: 30%;
        margin: 15px;
        text-align: center;
        padding-top: 40px;
      
      
      }

      .superlotacao{
          color: #8F00FF;
      }
      .critica{
          color: #ff0000;
      }
      .ideal1{
          color: #00ff00;
      }
      .lotacao1{
          color: #0077ff;
      }
      .cuidado{
        color: yellow;
    }

    

      





    /* ================================= ESTILIZANDO OS  TRES CARDS ===================================*/

    .regua {
        display: flex;
        justify-content: center;
        width: 120%;
        margin-top: 5px;
        height: 35%;
        margin-left: -8%;  
      }
    .analytics_critico {
     background-color: #ff0000;
      color: #000000;
      box-shadow: 1px 1px 0.2em #888;
    }
    .analytics_cuidado{
        background-color: yellow;
        color: #000000;
        
        box-shadow: 1px 1px 0.2em #888;
    }
    .analytics_ideal{
        background-color:#00ff00;
        color: #000000;
        box-shadow: 1px 1px 0.2em #888;
    }
    .analytics_superlotacao{
        background-color: #8F00FF;;
        color: #000000;
        box-shadow: 1px 1px 0.2em #888;
    }
    .item-regua {
        padding: 40px;
        width: 150%;
        margin: 15px;
        height: 50%;
        text-align: center;
        padding-top: 10px;
        border-radius: 10px;
      }
      .item-regua2 {
          padding: 50px;
          height: 60%;
          width: 60%;
          margin: 15px;
          text-align: center;
          padding-top: 20px;
          border-radius: 10px;
          font-weight: 800;
        }

        .item-regua h2{
          margin-top: 10px;
        }
        .item-regua2 h2{
     
          margin-top: 10px;
        }

        .titulo{
            margin-top: -25%;
            text-align: justify;
            margin-left: -30%;
            }
            
       /* ================================= FIM DOS  TRES CARDS ===================================*/

       /* ================================= ESTILIZANDO O CENTRO ===================================*/

    main section.meio .header{
      display: flex;
      align-items: center;
      gap: 1rem;
      
    }
           /* ================================= ESTILIZANDO  A LISTA ===================================*/
      .card{
        margin-left: 74%;
        margin-top: -42%;
        background-color:#f0eff5;
        flex-direction: column;
        display:flex;
        justify-content: space-between;
        padding: 90px;
        width: 45%;
        height: 26%;
       color: #000000;
     
 
    }
  
    .carro1{
        margin-top: 4%;
    } .carro2{
        margin-top: 4%;
    } .carro3{
        margin-top: 4%;
    } .carro4{
        margin-top: 4%;
    } .carro5{
        margin-top: 4%;
    }

    .carro1 .bx {
      
        font-size: 20px;
        color: #ff0000;
        
    }
    .carro2 .bx {
        margin-top: 4%;
        font-size: 20px;
        color: #FF4000;
        
    } .carro3 .bx {
        margin-top: 4%;
        font-size: 20px;
        color: #ff0000;
        
    } .carro4 .bx {
        margin-top: 4%;
        font-size: 20px;
        color: #00ff00;
        
    } .carro5 .bx {
        margin-top: 4%;
        font-size: 20px;
        color: #8F00FF;
        
    }
 .search2 input{
        color: #000000;
        background: transparent;
        width: 100%;
       
    }

  .search2{
        background-color: #000000;
        width: 22vw;
        padding: 8px 1.6rem ;
        border-radius: 6px;
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #56555e;
        position: absolute;
        left: 65%;
        margin-top: -5%;
    }
   
  
 
 .critico .texto1{
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 50px;
      text-align:justify;
      margin-left: 1px;
      display:inline-block;
      width: 300px;
      font-size: 14px;
  }

 
  .critico .hora{
    padding: 10px;
    margin-top: 5px;
    text-align:justify;
    margin-left: -90px;
    display:inline-block;
  }

  .critico {
    margin-top: 10%;
    width: 400px;
    height: 30px;
    margin-left: -30%;
    display: flex;
    padding: 10px;
  
  }
  .cor1{
      color: #ff0000;
  }
  .cor2{
    color: #00ff00;
}
.cor3{
    color: #8F00FF;
}
.cor4{
    color: #ff0000;
}
  

       /* ================================= FIM DA LISTA ===================================*/

/*INICIO - LEGENDA*/

.legenda{
  display: flex;
  justify-content: center;
  color: #000;
  margin-top: 20px;
}

/*FIM - LEGENDA*/

/*INICIO - CIRCULO NOTIFICAÇÃO NO CARD*/

.retangulo_red{
  border-radius: 10%;
  background-color: red;
  color: #f0eff5;
  font-weight: bold;
  width: 40px;
  height: 20px;
  padding: 2px;
  display: inline-block;
}

.retangulo_green{
  border-radius: 10%;
  background-color: #00ff00;
  color: #000;
  font-weight: bold;
  width: 40px;
  height: 20px;
  padding: 2px;
  display: inline-block;
}

.retangulo_purple{
  border-radius: 10%;
  background-color: #8F00FF;
  color: #f0eff5;
  font-weight: bold;
  width: 40px;
  height: 20px;
  padding: 2px;
  display: inline-block;
}

.retangulo_yellow{
  border-radius: 10%;
  background-color: #FFFF00;
  color: #000;
  font-weight: bold;
  width: 40px;
  height: 20px;
  padding: 2px;
  display: inline-block;
}

/*FIM - CIRCULO NOTIFICAÇÃO NO CARD*/


